body{
    background: darkred;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: grey;
}

.assignment img{
    width:200px;
    margin:10px;
    border:4px solid black;

}

h1 {
    color: white;
    text-align:center;
}

a{
    text-decoration:none;
    color: black;
}

p{
    color:white;
}

